__pycache__
bin/
makeCmdJson/*.json
makeCmdJson/*.ini
makeComicTxt/*/*_comic.txt
makeComicTxt/*/*.ini
mdl/make
makeGraph/*/*.pdf
makeGraph/*/*.ini
makeMdlBin/*.ini
makeSff/*.tga
makeSff/*.png
makeSff/*.sff
*.bat