__pycache__
bin/
smf/
makeCmdJson/*.json
makeCmdJson/*.ini
makeComicTxt/*/*_comic.txt
makeComicTxt/*/*.ini
mdl/make
makeGraph/*/*.pdf
makeGraph/*/*.ini
makeMdlBin/*.ini
makeSff/*.tga
makeSff/*.png
makeSff/*.SFF
makeFvtToCsv/*.ini
makeFvtToCsv/*.csv
*.bat